* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.width {
  width: 100%;
}
.my-nav {
  height: 100px;
  background-color: rgb(137, 236, 240);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.my-nav-first {
  padding-left: 100px;
  font-size: 30px;
}

.my-nav-last {
  padding-right: 50px;
  font-size: 26px;
  color: rgb(0, 0, 0);
}

.my-nav-last span {
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 0 5px;
  margin-left: -12px;
}

/* cart container style are here */

.cart-container-part-one {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

/* cart item style */
.cart-item {
  margin-bottom: 12px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item .fas {
  color: rgb(6, 136, 136);
}

.cart-item img {
  width: 50%;
}
.cart-item-last {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cart-item-last button {
  border: none;
  background-color: inherit;
  font-size: 20px;
}

.price {
  font-size: 15px;
  font-weight: 600;
}

.name {
  font-size: 17px;
  font-weight: 400;
}
.remove {
  margin-top: 5px;
  background-color: inherit;
  border: none;
  color: rgb(7, 138, 138);
  font-size: 12px;
}
.total {
  margin-bottom: 50px;
  font-size: 22px;

  max-width: 100%;
}
@media only screen and (max-width: 720px) {
  .my-nav {
    height: 70px;
  }

  .my-nav-first {
    padding-left: 60px;
    font-size: 26px;
  }
  .name {
    font-size: 16px;
  }
  .price {
    font-size: 13px;
  }
}

@media only screen and (max-width: 300px) {
  .name {
    font-size: 13px;
  }
  .price {
    font-size: 12px;
  }

  .remove {
    font-size: 12px;
  }
}
